.browseButton i {
    font-weight: 900;
    font-size: 28px;
    padding: 2px;
}



.biblePassageInterface {
    margin: 20px 15px;
    display: grid;
    grid-template-columns: 9.5em 3em 32px;
    grid-template-rows: 3em;
    gap: 0px 17px;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    grid-template-areas:
        "bible-dropdown chapter-input browse-button";
}
      
.bibleDropdown { grid-area: bible-dropdown; }

.chapterInput { grid-area: chapter-input; }

.verseInput { grid-area: verse-input; }

.browseButton { 
    grid-area: browse-button; 
    width: 32px;
    height: 32px;
    align-self: end;
}
      
.biblePassageInterface label {
    font-size: 16px;
}

.biblePassageInterface select, .biblePassageInterface input {
    height: 1.7em;
    font-family: 'Kreon';
    font-size: 19px;
}

#chapterInputNumber, #verseInputNum {
    min-width: 2.9em;
}

.biblePassageInterface input {
    width: 2em;
}

.biblePassageInterface .bibleDropdown, .biblePassageInterface .chapterInput, .biblePassageInterface .verseInput {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}