.carousel .square {
    display: grid;
    grid-template-rows: 1fr 2em;
    justify-content: center;
    text-align: center;

}

.square div {
    align-content: center;
}

.addTitle {
    font-size: 1.2em;
}