.carousel .item {
    display: grid;
    grid-template-rows: 50px 29px;
    justify-content: center;
    text-align: center;
    align-items: end;
}

.item div {
    align-content: center;
}

.addTitle {
    font-size: 1.2em;
}

.carousel {
    display: grid;
    grid-auto-flow: column;
    width: calc(100vw - 35px);
    overflow-x: scroll;
}

.spacer  {
    width:calc(50vh - 50px - 30px - 30px);
}

.blogCarousel {
    column-gap: 50px;
    padding-bottom: 15px;
}

.planCarousel {
    column-gap: 30px;
    margin-bottom: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.addNew {
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: white;
    filter: var(--filter);
    border-radius: 90px;
}

.carouselWithTitle {
    height: 200px;
}

.addNewContainer {
    display: block;
}