.createForm {
    display: grid;
    height: 75vh;
    grid-template-rows: 100px 3em 1fr 100px;
    grid-row-gap: 20px;
    justify-items: center;
    grid-template-areas: "planIcon" "planTitle" "." "carousel";
}

.planIcon {
    grid-area: planIcon;
    filter: drop-shadow(0px 4px 4px #00000066);
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 75px;
    height:100px;
    width: 100px;
}

.carousel .square {
    display: grid;
    grid-template-rows: 1fr 2em;
    justify-content: center;
    text-align: center;

}

.square div {
    align-content: center;
}

.offScreenInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

.carousel {
    grid-area: carousel;
}

.title {
    margin-left: 25px;
}

.planTitle input {
    font-size: 30px;
    font-family: 'Kreon', sans-serif;
    text-align: center;
    grid-area: planTitle;
}