.createForm {
    display: grid;
    height: 75vh;
    grid-template-rows: 100px 3em 1fr 100px;
    grid-row-gap: 20px;
    justify-items: center;
    grid-template-areas: "planIcon" "planTitle" "." "carousel";
}

.planIcon {
    grid-area: planIcon;
    filter: var(--filter);
    background-color: white;
    background-position: center;
    background-size: cover;
    border-radius: 75px;
    height:100px;
    width: 100px;
}

.carousel .item {
    display: grid;
    grid-template-rows: 1fr 2em;
    justify-content: center;
    text-align: center;

}

.item div {
    align-content: center;
}

.offScreenInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
}

.carousel {
    grid-area: carousel;
}

.title {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.planTitle input {
    font-size: 30px;
    font-family: 'Kreon', sans-serif;
    text-align: center;
    grid-area: planTitle;
    display: flex;
    flex-direction: column;
}

.createPlanCarousel {
    position: absolute;
    bottom: 50px;
}