.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 10px;
}

.carousel {
    display: flex;
    justify-content: center;
}

.carouselTitle {
    margin: 15px 0px;
    font-size: 32px;
}

.homeBiblePassageInterface {
    display:flex;
    flex-direction: column;
}

.biblePassageInterfaceTitle {
    width: 100%;
    grid-area: Title;
    margin: 30px 0px 0px 0px;
    font-size: 32px;
}

