.imageCropper {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    background: white;
}

.cropper {
    height: 50vh;
    width: 90vw;
    overflow: hidden;
    margin: 20px auto;
}