.menu-bar {
    position: absolute;
    bottom: 0;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: #9F9F9F;
    color: white;
    display: grid;
    grid-template-columns: 1fr 32px 1fr;
    grid-template-areas: "left center right";
}

.menu-bar a {
    color:white;
    text-decoration: none;
}

#menu-new-plan {
    align-self: center;
}

#menu-new-plan i {
    font-size: 36px;
}

#menu-account {
    justify-self: end;
}

#menu-account, #menu-home {
    align-self: end;
    padding-bottom: 7px; 
}

#menu-account i, #menu-home i {
    font-size: 32px;
    margin: 0px 10px;
}

#menu-account span, #menu-home span {
    font-size: 24px;
}

#menu-home {
    grid-area: left;
    justify-self: start;
}
