.menuBar {
    position: fixed;
    bottom: 0;
    left: 0px;
    height: 50px;
    width: 100%;
    /*background-color: #9F9F9F;*/
    background-color: var(--blue-background);
    color: white;
    display: grid;
    grid-template-columns: 1fr 32px 1fr;
    grid-template-areas: "left center right";
}

.menuBar a {
    color:var(--white);
    text-decoration: none;
}

#menuNewPlan {
    align-self: center;
}

#menuNewPlan i {
    font-size: 36px;
}

#menuAccount {
    justify-self: end;
}

#menuAccount, #menuHome {
    align-self: end;
    padding-bottom: 7px; 
}

#menuAccount i, #menuHome i {
    font-size: 32px;
    margin: 0px 10px;
}

#menuAccount span, #menuHome span {
    font-size: 24px;
}

#menuHome {
    grid-area: left;
    justify-self: start;
}
