.carousel {
    display: flex;
    margin: 0px 20px;
}

.carouselSquare.newPlanSquare {
    width: 85px;
    height: 85px;
    border-radius: 75px;
    filter: var(--filter);
    background-color: white;
    padding: 7px;
    display: flex;
    flex-direction: column;
}

.carouselSquare.newPlanSquare span {
    font-size: 18px;
    margin-top: 10px;
}

.carouselSquare.newPlanSquare i {
    font-size: 40px;
    margin-top: 5px;
}

